@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../assets/fonts/Syne-Regular.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../assets/fonts/Syne-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('../assets/fonts/Syne-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Control del scrollbar en Firefox y en Chromium */
html{
    scrollbar-width: thin;
    scrollbar-color: var(--color-acid);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--color-dark);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-acid);
}

body{
    background-color: var(--color-dark);
    color: var(--white);
    font-family: 'Space Mono', monospace;
    cursor: none;
    overflow-x: hidden;
}

nav{
    color: var(--color-white)
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    color: var(--color-white);
    font-family: 'Syne', sans-serif;
    font-size: 6rem;

    
    & span{
        color:var(--color-coral);
    }
}

