/* Elementos */

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    color: var(--color-white);
    font-family: 'Syne', sans-serif;
    font-size: 6rem;

    
    & span{
        color:var(--color-coral);
    }
}
