:root {
    --color-acid: #CAFF00; 
    --color-coral: #FF4D6D;
    --color-electric: #00C2FF;
    --color-violet: #7B2FBE;
    --color-white: #F5F0E8;
    --color-dark: #1A1A1A;
    --color-black: #0D0D0D;
    --color-gray: #979494; 

    --font-primary: 'SpaceMono', sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
}